<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatroom</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body class="bg-green-100">
    <!-- Header -->
    <div class="bg-gray-100 p-2 flex justify-between">
      <p class="tracking-wider font-semibold text-2xl">🌏 Chatroom</p>
      <p>Ticket Status</p>
    </div>
    <div class="p-10 space-y-2">
      <div class="h-[70vh] bg-white overflow-y-auto overscroll-contain p-2">
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
        <p>asdasdasdasdasdasdasdasd</p>
      </div>
      <form class="flex space-x-2">
        <input class="grow px-2" placeholder="Type your response..." />
        <button type="submit" class="bg-teal-300 p-1 rounded-sm">💬</button>
      </form>
    </div>
  </body>
</html>
